<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>apikey-manager-gui</title>
    <link rel="stylesheet" href="style.css">
</head>

<body style="display: flex">
<div style="flex-grow: 1;top:0;bottom:0 ;overflow-y: scroll;float: left;height: 95vh; background-color: lightblue">
    <ul id="api_list"></ul>
</div>
<div style="width: 450px; height: 100%;float: left;display: flex;flex-direction: row">
    <div class="container" style="width: 15%">
        <label for="api_key_input">ApiKey:</label>
        <label> <br> </label>
        <label for="common_name_input">CN:</label>
        <label for="organization_input">O:</label>
        <label for="location_input">L:</label>
    </div>
    <div class="container" style="width: 50%">
        <input type="text" id="api_key_input" name="api_key_input" title="" oninput="checkInputFields();">
        <button id="randomize" onclick="createRandomApiKey()" style="margin-bottom: 20px;align-self: center">randomise</button>
        <input type="text" id="common_name_input" name="common_name_input" oninput="checkInputFields();">
        <input type="text" id="organization_input" name="organization_input" oninput="checkInputFields();">
        <input type="text" id="location_input" name="location_input" oninput="checkInputFields();">
        <button id="add_api_key_btn" onclick="createNewApiKey()">add</button>
        <button id="activate_btn" onclick="activate_api()">activate</button>
        <button id="deactivate_btn" onclick="deactivate_api()">deactivate</button>
    </div>
    <div class="container" style="width: 35%">
        <label id="api_error" for="api_key_input" style="text-align: center"></label>
    </div>
</div>

<script>

    let isApiKeyValid = false;
    let isCommonNameValid = false
    let isOrganizationValid = false
    let isLocationValid = false

    function createRandomApiKey() {
        const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let key = '';
        for (let i = 0; i < 12; i++) {
            key += chars.charAt(Math.floor(Math.random() * chars.length));
        }
        document.getElementById("api_key_input").value = key;
    }

    // TODO unsure if this will work
    function createNewApiKey() {
        var apiKey = document.getElementById("api_key_input").value;
        var commonName = document.getElementById("common_name_input").value;
        var organization = document.getElementById("organization_input").value;
        var location = document.getElementById("location_input").value;
        payload = "CN=" + commonName + ",O=" + organization + ",L=" + location;
        xml_data = "<ApiKeyCred><apiKey>" + apiKey + "</apiKey><clientDn>" + payload + "</clientDn></ApiKeyCred>";
        addApiKey(xml_data)
    }

    // TODO move all warnings and errors into own text field
    function checkInputFields() {
        isApiKeyValid = isApiKeyInputFieldValid();
        isCommonNameValid = document.getElementById("common_name_input").value !== "";
        isOrganizationValid = document.getElementById("organization_input").value !== "";
        isLocationValid = document.getElementById("location_input").value !== "";
        document.getElementById("add_api_key_btn").disabled = !(isApiKeyValid && isCommonNameValid && isOrganizationValid && isLocationValid);
    }

    function isApiKeyInputFieldValid() {
        const illegalPattern = /[ `!@#$%^&*§()_+\-=\[\]{};':"\\|,.<>\/?~]/;
        const api_key = document.getElementById("api_key_input").value;
        if (api_key.length !== 12) {
            updateApiKeyError("#ff9999", "!must be 12 characters")
            return false
        }
        if (illegalPattern.test(api_key)) {
            updateApiKeyError("#ff9999", "!illegal symbols")
            return false
        }
        updateApiKeyError("white", "")
        return true
    }

    function updateApiKeyError(color, message) {
        document.getElementById("api_key_input").style.backgroundColor = color;
        document.getElementById("api_error").textContent = message
    }

    // TODO again, add text field where all errors will be written into
    async function addApiKey(data) {
        console.log(JSON.stringify(data))
        try {
            const response = await fetch("/api-keys", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });
            if (!response.ok) {
                console.error("HTTP error! Status: " + response.status);
            }
        } catch (error) {
            console.error("Failed to add API key:", error);
        }
        await get_api();
    }

    ////////////////// BORDER OF REFACTORING

    function get_api()
    {
        document.getElementById("api_list").innerHTML = ""

        fetch('/api-keys')
            .then(res => res.json())
            .then(data => {
                var Text = JSON.stringify(data, null, 2);
                var newText = Text.replace(/"/g, '')
                var splittedText = newText.split("\\n")

                for (let i = 0; i < splittedText.length - 1; i++)
                {
                    const newItem = document.createElement("li");
                    newItem.textContent = splittedText[i];

                    const checkbox = document.createElement("input");
                    checkbox.type = "radio";
                    checkbox.name = "box";
                    checkbox.value = splittedText[i];
                    checkbox.id = splittedText[i];

                    checkbox.addEventListener("change", ()=> {
                        document.querySelectorAll("li").forEach(item => item.style.backgroundColor = "");
                        newItem.style.backgroundColor = checkbox.checked ? "lightgreen" : "red";
                    });
                    newItem.appendChild(checkbox);
                    document.getElementById("api_list").appendChild(newItem);
                }
            })
    }

    async function deactivate_api()
    {
        await send_activation("deactivate")
    }

    async function activate_api()
    {
        await send_activation("activate")
    }

    async function send_activation(url)
    {
        var api_key = get_checked_boxes()
        try {
            const response = await fetch("/api-keys-" + url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(api_key)
            });
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
        } catch (error) {
            console.error("Error creating post:", error);
        }
        await get_api();
    }

    function get_checked_boxes()
    {
        const checkboxes = document.querySelector('input[type="radio"]:checked');
        return (checkboxes.id).split("=")[0]
    }

    window.onload = function ()
    {
        get_api();
    };

</script>

</body>
</html>