<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>apikey-manager-gui</title>
    <style>
        .container {
            display: flex;
            flex-direction: column
        }

        label {
            margin-bottom: 25px;
            text-align: right
        }

        input[type="text"] {
            background-color: white;
            margin-bottom: 20px
        }

        button {
            width: 100px
        }

        input[type="radio"] {
            float: right;
            margin: auto;
        }
        li
        {
            padding: 5px;
            white-space: nowrap;
        }
        .scrollable-container
        {
            flex-grow: 1;
            top:0;
            bottom:0 ;
            height: 95vh;
            overflow-y: auto;
            background-color: #f0f7ff;
            min-width: 120px;
        }
        .dynamic-list
        {
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            width: max-content;
        }

    </style>
    <link rel="stylesheet" href="style.css">
</head>

<body style="display: flex">
<div class ="scrollable-container">
    <ul id="api_list" class="dynamic-list"></ul>
</div>
<div style="min-width: 160px;width: 450px; height: 100%;float: left;display: flex;flex-direction: row">
    <div class="container" style="width: 25% ; min-width: 60px">
        <label for="api_key_input">ApiKey:</label>
        <label> <br> </label>
        <label for="common_name_input">CN:</label>
        <label for="organization_input">O:</label>
        <label for="location_input">L:</label>
    </div>
    <div class="container" style="width: 60%;min-width: 100px">
        <input type="text" id="api_key_input" name="api_key_input" title="" oninput="checkInputFields();">
        <button id="randomize" onclick="createRandomApiKey()" style="margin-bottom: 20px;align-self: center">randomise</button>
        <input type="text" id="common_name_input" name="common_name_input" oninput="checkInputFields();">
        <input type="text" id="organization_input" name="organization_input" oninput="checkInputFields();">
        <input type="text" id="location_input" name="location_input" oninput="checkInputFields();">
        <div style="height: 50px">
            <p style="font-size: 20px; margin: auto" id="error_text"></p>
        </div>
        <button disabled id="add_api_key_btn" onclick="createNewApiKey()">add</button>
        <button id="activate_btn" onclick="activate_api()">deactivate</button>
    </div>
</div>

<script>

    let isApiKeyValid = false;
    let isCommonNameValid = false
    let isOrganizationValid = false
    let isLocationValid = false

    function createRandomApiKey() {
        const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let key = '';
        for (let i = 0; i < 12; i++) {
            key += chars.charAt(Math.floor(Math.random() * chars.length));
        }
        document.getElementById("api_key_input").value = key;
    }

    function createNewApiKey() {
        var apiKey = document.getElementById("api_key_input").value;
        var commonName = document.getElementById("common_name_input").value;
        var organization = document.getElementById("organization_input").value;
        var location = document.getElementById("location_input").value;
        payload = "CN=" + commonName + ",O=" + organization + ",L=" + location;
        xml_data = "<ApiKeyCred><apiKey>" + apiKey + "</apiKey><clientDn>" + payload + "</clientDn></ApiKeyCred>";
        addApiKey(xml_data)
    }

    function checkInputFields() {
        isApiKeyValid = isApiKeyInputFieldValid();
        isCommonNameValid = document.getElementById("common_name_input").value !== "";
        isOrganizationValid = document.getElementById("organization_input").value !== "";
        isLocationValid = document.getElementById("location_input").value !== "";
        document.getElementById("add_api_key_btn").disabled = !(isApiKeyValid && isCommonNameValid && isOrganizationValid && isLocationValid);
    }

    function isApiKeyInputFieldValid()
    {
        const illegalPattern = /[ `!@#$%^&*§()_+\-=\[\]{};':"\\|,.<>\/?~]/;
        const api_key = document.getElementById("api_key_input").value;
        if (api_key.length !== 12) {
            updateApiKeyError("#ff9999", "!must be 12 characters")
            return false
        }
        if (illegalPattern.test(api_key)) {
            updateApiKeyError("#ff9999", "!illegal symbols")
            return false
        }
        updateApiKeyError("white", "")
        return true
    }

    function updateApiKeyError(color, message) {
        document.getElementById("api_key_input").style.backgroundColor = color;
        document.getElementById("error_text").textContent = message
    }

    async function addApiKey(data) {
        console.log(JSON.stringify(data))
        try {
            const response = await fetch("/api-keys", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });
            if (!response.ok) {
                console.error("HTTP error! Status: " + response.status);
            }
        } catch (error) {
            console.error("Failed to add API key:", error);
        }
        await get_api();
    }

    ////////////////// BORDER OF REFACTORING

    let selectedItem = null;

    function get_api()
    {
        document.getElementById("api_list").innerHTML = ""

        fetch('/api-keys')
            .then(res => res.text())
            .then(data => {
                var newText = data.replace(/"/g, '');
                var splittedText = newText.split("\n");

                for (let i = 0; i < splittedText.length - 1; i++)
                {
                    const newItem = document.createElement("li");
                    newItem.textContent = splittedText[i];
                    newItem.id = splittedText[i];

                    newItem.addEventListener("click", ()=> {
                        document.querySelectorAll("li").forEach(item => item.style.backgroundColor = "");
                        newItem.style.backgroundColor = "lightgreen";
                        selectedItem = newItem.id
                        document.getElementById("activate_btn").innerHTML = checkActivation(newItem.id);
                    });
                    document.getElementById("api_list").appendChild(newItem);
                }
            });
    }

    async function activate_api()
    {
        const text = document.getElementById("activate_btn").innerHTML;
        if(text === "activate")
        {
            await send_activation("activate")
        }
        else if (text === "deactivate")
        {
            await send_activation("deactivate")
        }
    }

    async function send_activation(url)
    {
        var api_key = (selectedItem).split("=")[0]
        try {
            const response = await fetch("/api-keys-" + url, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(api_key)
            });
            if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
            }
        } catch (error) {
            console.error("Error creating post:", error);
        }
        await get_api();
    }

    function checkActivation(checkbox_id)
    {
        if(checkbox_id.search("INACTIVE")>-1)
        {
            return"activate"
        }
        else
        {
            return "deactivate"
        }
    }

    window.onload = function ()
    {
        get_api();
    };

</script>

</body>
</html>