<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>apikey-manager-gui</title>
</head>
<body>
<div style="margin: auto ;background-color: lightcoral">
    <p>this is a text</p>
</div>
<div style="margin: auto ;background-color: lightblue">
    <p>these are buttons</p>
</div>
<script>
    var url = "http://localhost:8080/api-keys"

    var has_apikey = false
    var has_CN = false
    var has_O = false
    var has_L = false

    function add_api_key()
    {
        if (check_input()&&check_api_key())
        {
            return true
        }
    }

    function check_input()
    {
        if (has_apikey && has_CN && has_O && has_L)
        {
            return true
        }
    }

    function check_api_key()
    {
        const format = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]+/;
        const apiKeyInput = document.getElementById("apiKey");
        if(format.test(apiKeyInput.innerText))
        {
            return false
        }
    }
</script>

</body>
</html>